.navbar {
    background-color: #81BEF7;
}
.quem-somos {
    background-color: #BDBDBD;
}
.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo {
    margin-left: 20px
}
.marginn {
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros {
    background-color: #F6CED8;
}
.borda {
    border-radius: 20px;
}
.servicos {
    background-color: #BDBDBD;
}
.bg-footer {
    background-color: #F6CED8;
}